<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta charset="utf-8">
    <title>Redirecting…</title>
    <link rel="canonical" href="{{ page.redirect.to }}">
    <meta http-equiv="refresh" content="0; url={{ page.redirect.to }}">
  </head>
  <body>
    <style>body { font-family: sans-serif; padding: 5px 15px; }</style>
    <p>
      <img style="width: 200px" src="https://scontent.fbne1-1.fna.fbcdn.net/v/t1.0-9/18118580_1273496629429242_4448282969598693152_n.jpg?oh=01e888b07c526ecbe5201286a3f72f9e&oe=59B7C580"/>
    </p>
    <h1>Redirecting…</h1>
    <a href="{{ page.redirect.to }}">Click here if you are not redirected.</a>
    <script>location="{{ page.redirect.to }}"</script>
  </body>
</html>
